


<br>
<!--<table>
    <tr>
        <th>PID</th>
        <th>PNO</th>
        <th>PName</th>
    </tr>
    <tr *ngFor="let prod of product">
         <td>{{prod.p_id}}</td>
         <td>{{prod.p_no}}</td>
         <td>{{prod.p_name}}</td>
    </tr>
</table><br>-->
<!--On HomePage we achieve SPA-->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" class="side" opened="true">
    
    <mat-nav-list >

       <a mat-list-item [routerLink]="'my-cart'"><span class="material-icons md-36">image</span> Card List </a>
      <a mat-list-item [routerLink]="'my-product'"><span class="material-icons md-36">
        navigate_next
        </span> Table List </a>
      <a mat-list-item [routerLink]="'dialog'"><span class="material-icons md-36">auto_awesome</span> Dialogs </a>
      <a mat-list-item [routerLink]="'/create-contact'"><span class="material-icons md-36">contacts</span> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"><span class="material-icons md-36">add_business</span> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"><span class="material-icons md-36">storefront</span> Create Activity </a>
    

    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <mat-icon (click)="drawer.toggle()">list</mat-icon>
    <button mat-icon-button routerLink="./" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon >home</mat-icon>
    </button>
    <span>Home page</span>
    <span class="example-spacer"></span>
   
    <button mat-icon-button title="Logout" (click)="onLogout()" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
   
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
         
</mat-drawer-container>

