table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-align{
    justify-content: center;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    width: 1000px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 20px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 10px;
  }

  .side{
    background-color: purple;
    color: white;
    margin-top: 62px;
  }

  mat-nav-list,a:hover{
    color: white;
    
  }